<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Let's Talk</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./dashboardStyle.css" />
    <style type="text/css">
      @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
          background: #1c2331 !important;
        }
      }
    </style>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <div class="container">
        <!-- Brand -->
        <a
          class="navbar-brand"
          href="https://mdbootstrap.com/docs/jquery/"
          target="_blank"
        >
          <strong>Let's Talk</strong>
        </a>

        <!-- Collapse -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://mdbootstrap.com/docs/jquery/"
                target="_blank"
                >Blog</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
                target="_blank"
                >Experts</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://mdbootstrap.com/education/bootstrap/"
                target="_blank"
                >Podcast</a
              >
            </li>
          </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a
                href="https://www.facebook.com/mdbootstrap"
                class="nav-link"
                target="_blank"
              >
                <i class="fab fa-instagram-f"></i>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="https://twitter.com/MDBootstrap"
                class="nav-link"
                target="_blank"
              >
                <i class="fas fa-envelope"></i>
              </a>
            </li>

            <li class="nav-item ml-1">
              <div
                class="nav-link border border-light rounded"
                data-toggle="modal"
                data-target="#loginModal"
              >
                <i class="fas fa-sign-in-alt"></i>Logout
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->

    <div class="container-1 mx-4">
      <div class="box1">
        <div class="timeline inbox mt-2">
          <div id="timeline-heading">
            <h4>Timeline</h4>
          </div>
          <div id="people-recent"></div>
        </div>
        <div class="mapSection inbox mt-2">
          <div id="nextmeet"><h4>Next Meeting</h4></div>
          <div id="address-box">
            Address goes here
          </div>
          <div id="map" style="width:100%;height: 300px;">Hello</div>
        </div>
      </div>
      <div class="box2">
        <div class="feeling-box inbox my-2">
          <div id="howFeelText" class="">
            <h4>How are you feeling today?</h4>
          </div>
          <div class="emojiArea px-5 pt-2 emojiflex">
            <span id="c1" style="font-size:20px;"> &#128545;</span>
            <span id="c2" style="font-size:20px;"> &#128532;</span>
            <span id="c3" style="font-size:20px;"> &#128528;</span>
            <span id="c4" style="font-size:20px;"> &#128512;</span>
            <span id="c5" style="font-size:20px;"> &#128513;</span>
          </div>
          <div class="slidecontainer d-flex justify-content-center pt-2">
            <input
              type="range"
              min="1"
              max="100"
              value="50"
              class="slider"
              id="myRange"
            />
          </div>
        </div>
        <div class="chat-therapy inbox mt-2">
          <div id="chat-text" class="">
            <h4>Chat/Therapy</h4>
          </div>
          <div id="chat-info" class="px-3 py-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
            aliquid ipsam deserunt perspiciatis numquam provident veritatis
            fuga, eligendi excepturi tempora at odit totam laborum tempore quam
            est? Accusantium minus nihil impedit natus molestias vel omnis vero
            ad soluta quae ea, tenetur fugiat obcaecati, tempora voluptatem
            velit quaerat unde pariatur qui incidunt quasi. Sequi accusamus
            vitae quod, quasi odit dignissimos. Quidem.
          </div>
          <div class="chat-buttons px-3 d-flex py-2 justify-content-center">
            <div class="join-chat btn btn-primary">Chat Now!</div>
            <div class="set-appointment btn btn-cyan">
              Book an appointment
            </div>
          </div>
        </div>
        <div class="support-group inbox mt-2">
          <div><h4 id="support-heading">Support Groups</h4></div>
          <div id="support-info" class="px-3 py-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
            aliquid ipsam deserunt perspiciatis numquam provident veritatis
            fuga, eligendi excepturi tempora at odit totam laborum tempore quam
            est? Accusantium minus nihil impedit natus molestias vel omnis vero
            ad soluta quae ea, tenetur fugiat obcaecati, tempora voluptatem
            velit quaerat unde pariatur qui incidunt quasi. Sequi accusamus
            vitae quod, quasi odit dignissimos. Quidem.
          </div>
          <div class="support-buttons px-3 d-flex py-2 justify-content-center">
            <div class="join-support btn btn-primary">Join a group</div>
            <div class="organize-support btn btn-orange darken-3">
              Organize your own group
            </div>
          </div>
        </div>
      </div>
      <div class="box3">
        <div class="advert inbox mt-2">Ad</div>
        <div class="similar inbox mt-2">
          <h4 id="similar-heading">Similar</h4>
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->

    <script>
      var slider = document.getElementById("myRange");
      var output = document.getElementById("demo");
      output.innerHTML = slider.value; // Display the default slider value

      // Update the current slider value (each time you drag the slider handle)
      slider.oninput = function() {
        output.innerHTML = this.value;
      };

      // Google API
      function initMap() {
        // The location of Uluru
        var uluru = { lat: -25.344, lng: 131.036 };
        // The map, centered at Uluru
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: uluru
        });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: uluru, map: map });
      }
    </script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=[API Key]&callback=initMap"
    ></script>
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();
    </script>
  </body>
</html>
