<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Let's Talk</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./dashboardStyle.css" />
    <style type="text/css">
      @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
          background: #1c2331 !important;
        }
      }
    </style>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <div class="container">
        <!-- Brand -->
        <a
          class="navbar-brand"
          href="https://mdbootstrap.com/docs/jquery/"
          target="_blank"
        >
          <strong>Let's Talk</strong>
        </a>

        <!-- Collapse -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://mdbootstrap.com/docs/jquery/"
                target="_blank"
                >Blog</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
                target="_blank"
                >Experts</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://mdbootstrap.com/education/bootstrap/"
                target="_blank"
                >Podcast</a
              >
            </li>
          </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a
                href="https://www.facebook.com/mdbootstrap"
                class="nav-link"
                target="_blank"
              >
                <i class="fab fa-instagram-f"></i>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="https://twitter.com/MDBootstrap"
                class="nav-link"
                target="_blank"
              >
                <i class="fas fa-envelope"></i>
              </a>
            </li>

            <li class="nav-item ml-1">
              <div
                class="nav-link border border-light rounded"
                data-toggle="modal"
                data-target="#loginModal"
              >
                <i class="fas fa-sign-in-alt"></i>Logout
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->

    <div class="container-1 mx-4">
      <div class="box1">
        <div class="timeline inbox mt-2">
          <div id="timeline-heading">
            Timeline
          </div>
          <div id="people-recent"></div>
        </div>
        <div class="mapSection inbox mt-2">
          <div id="nextmeet"><h4>Next Meeting</h4></div>
          <div id="address-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere,
            officia!
          </div>
          <div id="mapb">Map here</div>
        </div>
      </div>
      <div class="box2">
        <div class="feeling-box inbox mt-2">
          <div id="howFeelText" class="py-2">
            <h3>How are you feeling today?</h3>
          </div>
          <div class="emojiArea">
            <span>Happy</span>
            <span>Fine</span>
            <span>Sad</span>
            <span>Suicidal</span>
          </div>
        </div>
        <div class="chat-therapy inbox mt-2">Therapy/ Chat</div>
        <div class="support-group inbox mt-2">Support Groups</div>
      </div>
      <div class="box3">
        <div class="advert inbox mt-2">Ad</div>
        <div class="similar inbox mt-2">Similar</div>
      </div>
    </div>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();
    </script>
  </body>
</html>
